In [1]:
import pandas as pd
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout
from sklearn.model_selection import train_test_split

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
data = pd.read_csv(r'C:\Users\saravana.ayyappa\Desktop\Data Science\Data\glass.csv')
data = data.rename(columns={'Sodium(unitmeasurement:weightpercentincorrespondingoxide':'Sodium'})
data.head()

,Idnumber,refractiveindex,Sodium,Magnesium,Aluminum,Silicon,Potassium,Calcium,Barium,Iron,Typeofglass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,1

In [6]:
data.loc[data.Typeofglass=>3,'Window']=1

SyntaxError: invalid syntax (<ipython-input-6-fc7b8adf41dc>, line 1)

In [16]:
data['Window'] = data['Typeofglass']>3
data['Window'] = data['Typeofglass']<3
data.head()

,Idnumber,refractiveindex,Sodium,Magnesium,Aluminum,Silicon,Potassium,Calcium,Barium,Iron,Typeofglass,Window
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1,True
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1,True
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1,True
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1,True
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,1,True

In [ ]:
x = data[['Idnumber', 'refractiveindex', 'Sodium', 'Magnesium', 'Aluminum',
       'Silicon', 'Potassium', 'Calcium', 'Barium', 'Iron', 'Typeofglass']]
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.25)

In [7]:
model = Sequential()
model.add(Dense())